@media (max-width: 800px){
    img{
        display: none;

    }
}
@media (max-width: 750px){
    .body-left{
        width: 5%;
        word-break: break-all;
       }
    .body-right{
        width: 5%;
        word-break: break-all;
       }
        }
@media (max-width: 500px){
    .body-left{
        display: none;
            }
    .body-right{
        display: none;
             }
     

    
}
body{
    background-image: url(../img/невероятно-красивый-и-необычный-фон-ненужный-из-канатов-156157184.jpg);
    max-width: 960px;
    margin: 0 auto;
}


div{
    border: 3px groove rgba(80, 48, 8, 0.76);
    padding: 5px 15px;
}


.container{
    width: 100wv;
}

.head{
    margin-top: 20px;
    background-color: peru;
    min-height: 70px;
    line-height: 70px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0,86);

}

.body-left{
    background-color: peru;
    float:left;
    margin-right: 10px;
    width: 10wv;
    min-height: 970px;
    text-align: center;
}

.body-right{
    background-color: peru;
    float:right;
    margin-left: 10px;
    width: 10wv;
    min-height: 970px;
    text-align: center;
   
    
}

.body{
    background-color: peru;
    margin-bottom: 3px;
    width: 80wv;
    min-height: 970px;
}

.foot{
    margin-top: 3px;
    font-weight: bold;
    background-color: peru;
    min-height: 40px;
    line-height: 40px;
    text-align: center;

}
#img{
    float: right;
}

p{
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }