body{
    background-color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container1 {
    display: flex;
    justify-content: center;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.right {
    display: flex;
    flex-direction: column;
    cursor: text;
}

.container5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 450px;
    cursor: pointer;
}

.heading, .container2, .container3, .container4 {
    margin-left: 450px;
}
