body{
    background-color: rgb(243, 208, 11);
    background-image: url(../img/qXLkct7ocy8.jpg);
    background-repeat: no-repeat;
    background-size: 640px;
}
.container{
    display: inline-flex;
    flex-direction: row-reverse;
    border: 3px dotted black;
    position: relative;
    right: -34em;
    
}

.body{
    font-size: 50px;
    cursor: pointer;
    transition: .2s;
    background-image: url(../img/star0.png);
    background-repeat: no-repeat;
    
    padding: 40px;
    margin: 40px;
}

.body:hover,
.body:hover ~ .body{
    background-image: url(../img/star1.png)
    
}